table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif, serif;
    font-size: 14px;
    background: white;
    max-width: 70%;
    width: 70%;
    border-collapse: collapse;
    text-align: left;
}
th {
    font-weight: bold;
    color: #005092;
    padding: 10px 15px;
}
td {
    color: #005092;
    border-top: 1px solid #e8edff;
    padding: 10px 15px;
}
tr:nth-child(2n) {background: #e8edff;}

tr:hover td {background: #ccddff;}
